* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    min-height: 100vh;
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
}

/* Conteneur principal */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.container_droite{
    width: 40%;
    justify-items: center;

}
.container_gauche {
    width: 60%;
}
.container_gauche img{
    height: 300px;
}



.form-container {
    width: 380px;   
    background: rgba(0,0,0,0.7);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.8);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ccc;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-container button {
    padding: 14px;
    margin-top: 10px;
    border: none;
    background: #2348A6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.form-bouton {
    width: 330px;   
    padding: 5px;
    border-radius: 8px;
}
.form-bouton button {
    padding: 14px;
    margin-top: 10px;
    border: none;
    background: #2348A6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.form-container button:hover {
    background: #18347A;
}

.form-container p {
    text-align: center;
    color: #ccc;
    margin-top: 15px;
}

.form-container a{
    text-decoration: none;
    color: #2348A6;
}

.inscription{
    justify-self: center;
    margin-top: 50px;
}

/* ---------------------- */
/*      PAGE DE CHAT      */
/* ---------------------- */

.chat-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* ---- Sidebar 30% ---- */

.sidebar {
    width: 30%;
    background: #1D2333;
    color: #ccc;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h3 {
    margin: 20px 0 10px;
    font-size: 18px;
    border-bottom: 1px solid #444;
    color: #9bb0e7;
}

.user-info {
    padding: 15px;
    background: #2A3041;
    color: white;
    border-radius: 6px;
    margin-bottom: 15px;
}

.member {
    background: #2A3041;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}
.member a{
    text-decoration: none;
    color: #ccc;
}
.member-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.member:hover {
    background: #3A4153;
}
#members-list {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 5px;
}
#members-list::-webkit-scrollbar {
    width: 6px;
}
#members-list::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
#members-list::-webkit-scrollbar-track {
    background: #2a2a3d;
}
/* ---- Zone de chat 70% ---- */

.chat-area {
    flex-grow: 1;
    background: #f2f2f7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#messages {
    flex-grow: 1;
    background: white;
    padding: 15px;
    border-radius: 6px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

/* Message bulle */
.admin_message{
    margin-bottom: 15px;
    padding: 10px;
    background: #e9e9f4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.message {
    margin-bottom: 15px;
    padding: 10px;
    background: #e9e9f4;
    border-radius: 8px;
}
.message strong {
    color: #333;
}
.message .date {
    color: #555;
    margin-top: 15px;
    font-size: 15px;
}
/* Envoi de message */
#send-form {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

#send-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-right: 10px;
}

#send-form input[type="file"] {
    padding: 6px 10px;
    background: #ffffff;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: pointer;
}
#send-form input[type="file"]::-webkit-file-upload-button {
    background: #4a4aff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}
#send-form input[type="file"]::-webkit-file-upload-button:hover {
    background: #2f2fff;
}

#send-form button {
    padding: 10px 20px;
    border: none;
    background: #4a4aff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#send-form button:hover {
    background: #2f2fff;
}

